<div id="contact-links" class="links-container">
	{% for link in site.data.links.contact %}
	{% if link.url and link.url != "" and link.url != nil %}
		<a class="contact-icon" target="_blank" href="{{link.url}}">
		    <i class="
		        {% case link.type %}
					  {% when 'Twitter' %}
					     fab fa-twitter
					  {% when 'Facebook' %}
					    fab fa-facebook
					  {% when 'Email' %}
					    fas fa-envelope
					  {% when 'Instagram' %}
					    fab fa-instagram
					  {% when 'Linkedin' %}
					    fab fa-linkedin
					  {% when 'Github' %}
					    fab fa-github
					  {% when 'Youtube' %}
					    fab fa-youtube
					  {% when 'Snapchat' %}
					    fab fa-snapchat-ghost
					  {% when 'Discord' %}
					    fab fa-discord
					{% endcase %}
				"></i>
			</a>
		{% endif %}
	{% endfor %}
</div>