
<svg width="47px" height="48px" viewBox="0 0 47 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="NeueHaasGroteskDisp W02 Md" font-size="24.5" font-weight="normal">
        <g id="Opt-4,-Alt-1" transform="translate(-43.000000, -42.000000)" fill="#F2D0D0">
            <g id="Group-4" transform="translate(43.000000, 37.000000)">
                <text id="A">
                    <tspan x="0" y="23">A</tspan>
                </text>
                <text id="N">
                    <tspan x="31.5" y="52.4">N</tspan>
                </text>
                <text id="/">
                    <tspan x="20.3" y="34.9">/</tspan>
                </text>
            </g>
        </g>
    </g>
</svg>