@import "variables";

nav {
	z-index: 1030;
}

#nav-desktop {
	@media (max-width: $lg) {
		display: none;
	}
	margin-bottom: -50px;
}

#nav-mobile {
	@media (min-width: $lg) {
		display: none;
	}
	margin-bottom: -100px;
	height: 100px;
	@include smooth-transition;
}

.navbar-collapse {
	background-color: $background-color;
	padding: 0 30px 20px;
}

.navbar-toggler {
	color: black !important;
	border: none;
	&:focus {
		outline: none;
	}
}

.logo-mobile {
	margin: 20px;
	color: $text-color;
	img {
		height: 40px;
		width: auto;
	}
}

.logo-desktop {
	top: 0;
	left: 0;
	z-index: 150;
	position: fixed;
	margin: 30px;
	img {
		width: 5vw;
		height: auto;
		max-width: 40px;
	}
}

.links-container {
	display: flex;
	flex-direction: row;
}

.mobile-divider {
	margin-top: 0.3rem;
	@media (min-width: $lg) {
		display: none;
	}
}

@mixin nav-link-selected {
	@media (max-width: $lg) {
		opacity: 0.3;
	}
	@media (min-width: $lg) {
		border-bottom: 1.5px solid $text-color !important;
	}
}


/* About, Words, Press, etc. */
/* Centered at top */
#nav-links {
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	z-index: 100;

	a {
		@include smooth-transition;
		margin-right: 30px;
		border-bottom: 1.5px solid transparent;
		&:hover {
			@include nav-link-selected;
		}
	}
}

.nav-link {
	padding: 0;
	@media (max-width: $lg) {
		margin: 10px 0 !important;
	}
}

a.nav-link.link.current {
	@include nav-link-selected;
}

#contact-links {
	@media (min-width: $lg) {
		z-index: 100;
		position: fixed;
		top: 0;
		right: 0;
		margin: 30px;
	}
}

/* Social Media Contact Links */
.contact-icon {
	color: black;
	margin-right: 20px;
	font-size: 20px;
	@include smooth-transition;
	&:hover {
		opacity: 0.8;
		color: black;
	}
}