@import "variables";

#logo {
	top: 0;
	left: 0;
	z-index: 150;
	position: fixed;
	margin: 30px;
	color: $text-color;
	img {
		width: 5vw;
		height: auto;
		max-width: 40px;
	}
}

.links-container {
	display: flex;
	flex-direction: row;
}

@mixin nav-link-selected {
	border-bottom: 1.5px solid $text-color !important;
}


/* About, Words, Press, etc. */
/* Centered at top */
#nav-links {
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	z-index: 100;

	a {
		@include smooth-transition;
		margin-right: 30px;
		border-bottom: 1.5px solid transparent;
		/*padding-bottom: 1px;*/
		.current {
			@include nav-link-selected;
		}
		&:hover {
			@include nav-link-selected;
		}
	}
}

#nav-links a.link.current {
	@include nav-link-selected;
}

/* Social Media Contact Links */
/* Top right */
#contact-links {
	z-index: 100;
	position: fixed;
	top: 0;
	right: 0;
}

.contact-icon {
	color: black;
	margin: 20px 20px 0 0;
	font-size: 20px;
	@include smooth-transition;
	&:hover {
		opacity: 0.8;
		color: black;
	}
}