@import "variables";

@font-face {
	font-family: 'Eksell Display';
	src: url('/assets/fonts/Eksell Display Small.otf')  format('opentype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Eksell Display';
	src: url('/assets/fonts/Eksell Display Large.otf')  format('opentype');
	font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'King Basil Lite';
	src: url('/assets/fonts/King-Basil-Lite.otf')  format('opentype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Airbnb Cereal';
	src: url('/assets/fonts/AirbnbCereal-Bold.ttf')  format('truetype');
	font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'Fakt Pro';
	src: url('/assets/fonts/FaktPro-Blond.ttf')  format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Fakt Pro';
	src: url('/assets/fonts/FaktPro-Light.ttf')  format('truetype');
	font-weight: 100;
  font-style: normal;
}

a {
	&:hover {
		text-decoration: none;
	}
}

h1 {
	/*font-family: Eksell Display;*/
	/*font-weight: bold;*/
	color: $text-color;
}

h2 {
	font-family: Eksell Display;
	font-weight: normal;
	color: $text-color;
	font-size: 4.5vw;
	@media (min-width: $md) {
		font-size: 35px;	
	}
}

h4 {
	font-family: Airbnb Cereal;
	font-size: 14px;
	color: $text-color;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

p {
	font-family: Fakt Pro;
	font-size: 18px;
	color: $text-color;
	line-height: 28px;
}

.link {
	/*border-bottom: 1px solid transparent;
	transition: .2s all;
	&:hover {
		border-bottom: 1px solid #00000050;
	}*/
}