$background-color: #F7F7F7;
$text-color: #000;
/*$background-color: #033F51;
$text-color: #F2D0D0;*/

/* bootstrap media queries */
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

$article-padding-left: 20px;

@mixin smooth-transition {
  -webkit-transition: all 0.25s; /* Safari and Chrome */
  -moz-transition: all 0.25s; /* Firefox */
  -ms-transition: all 0.25s; /* IE 9 */
  -o-transition: all 0.25s; /* Opera */
  transition: all 0.25s;
}
