---
layout: default
---
<div id="lines">
	<div class="line line-left"></div>
	<div class="line line-right"></div>
</div>

<section id="hero">
	<div id="hero-text">
		<h1 id="hero-name">{{ page.heading }}</h1>
		<h4 id="subheading">{{ page.subheading }}</h4>
		<a href="/contact" id="scroll-down-button">
			<h4 class="link">{{ page.hero_cta_text }}</h4>
			<div class="circle"></div>
		</a>
	</div>
</section>

<section id="about" class="section-default">
	<div class="section-title-container sticky-top">
		<h4 class="section-side-title">{{ page.about_side_title }}</h4>
	</div>
	<div class="section-flex-container">
		<div class="section-container section-container-about">
			<h1>{{page.about_title}}</h1>
			{{ content }}
		</div>
	</div>
</section>