---
layout: default
---
<div id="lines">
	<div class="line line-left"></div>
	<div class="line line-right"></div>
</div>

<section id="hero">
	<div id="hero-text">
		<h1 id="heading">{{ page.heading }}</h1>
		{% if page.subheading and page.subheading != "" and page.subheading != nil %}
			<h4 id="subheading">{{ page.subheading }}</h4>
		{% endif %}
		{% if page.hero_cta_text and page.hero_cta_text != "" and page.hero_cta_text != nil %}
			<a href="/contact" id="scroll-down-button">
				<h4 class="link" id="hero-cta-text">{{ page.hero_cta_text }}</h4>
				<div class="circle"></div>
			</a>
		{% endif %}
	</div>
</section>

<section id="about" class="section-default">
	<div class="section-title-container sticky-top">
		<h4 class="section-side-title">{{ page.about_side_title }}</h4>
	</div>
	<div class="section-flex-container">
		<div class="section-container">
			<div class="section-container-about static-container">
				<div class="container">
					<h1>{{page.about_title}}</h1>
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</section>